<%= link_to "Book New Appointments", new_appointment_url %>

<h2>My Appointments</h2>

<% if @appointments.length != 0 %>
	<div class="info-panel">
		<p>Address</p>
		<p>Start Time</p>
		<p>End Time</p>

	</div>
<% else %>
	<h4>You don't have any booked appointments</h4>
<% end %>

<% @appointments.each do |appointment| %>
	<div class="appointment">
		<%= render partial: 'shared/booking_info', :locals => {:appointment => appointment} %>


		<form action="<%= appointment_url(appointment) %>" method="post">
		  <input type="hidden" name="_method" value="patch">
		  <%= render 'shared/auth' %>

		  <%= render partial: 'shared/hidden_fields', :locals => {:appointment => appointment} %>
	  	  <input type="hidden" name="appointment[housekeeper_id]" id="housekeeper_id" value="<%= nil %>">

		  <input type="submit" value="Remove Appointment">
		</form>

	</div>
<% end %>

<br>