<%= link_to "Book New Appointments", new_appointment_url %>

<h2>My Appointments</h2>

<% if @appointments.length != 0 %>
	<div class="info-panel">
		<p>Address</p>
		<p>Start Time</p>
		<p>End Time</p>

	</div>
<% else %>
	<h4>You don't have any booked appointments</h4>
<% end %>

<% @appointments.each do |appointment| %>
	<div class="appointment">
		<div class="address"><%= appointment.address.to_s%></div>
		<div class="start"><%= appointment.start_at.strftime("%m/%d %I:%M%p")%></div>
		<div class="end"><%= appointment.end_at.strftime("%m/%d %I:%M%p")%></div>


		<form action="<%= appointment_url(appointment) %>" method="post">
		  <input type="hidden" name="_method" value="patch">
		  <%= render 'shared/auth' %>

		  <input type="hidden" name="appointment[address]" id="address" value="<%= appointment.address %>">
	  	  <input type="hidden" name="appointment[scheduled_at]" id="scheduled_at" value="<%= appointment.scheduled_at %>">
		  <input type="hidden" name="appointment[start_at]" id="start_at" value="<%= appointment.start_at %>">
		  <input type="hidden" name="appointment[end_at]" id="end_at" value="<%= appointment.end_at %>">
	  	  <input type="hidden" name="appointment[housekeeper_id]" id="housekeeper_id" value="<%= nil %>">

		  <input type="submit" value="Remove Appointment">
		</form>

	</div>
<% end %>

<br>