<%= link_to "Return to your Appointments", appointments_url %>

<h2>Book a New Appointment</h2>

<div class="info-panel">
	<p>Address</p>
	<p>Start Time</p>
	<p>End Time</p>

</div>

<% @appointments.each do |appointment| %>
  <% if !appointment.housekeeper_id %>
		<form action="<%= appointment_url(appointment) %>" method="post">
		  <input type="hidden" name="_method" value="patch">
		  <%= render 'shared/auth' %>

		  <%= render partial: 'shared/booking_info', :locals => {:appointment => appointment} %>


  		  <%= render partial: 'shared/hidden_fields', :locals => {:appointment => appointment} %>

	  	  <input type="hidden" name="appointment[housekeeper_id]" id="housekeeper_id" value="<%= current_housekeeper.id %>">

		  <input type="submit" value="Select Appointment">

		</form>
  <% end %>

<% end %>


